{% extends "blog/base.html" %}

{% block 1 %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
        

<div class="card mt-2">
    <div class="card-title">
    <center><h3 class="p-3">Login</h3></center>
    </div>
    <div class="card-body">
            <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input name="username" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input name="password" type="password" class="form-control"  placeholder="Password">
                    </div>
                <div class="row">
                <div class="col-8">
                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                </div>
                <div class="col">
                    <div align="right">
                    <button type="submit" class="btn bg-wood"><i class="white">Submit</i></button>
                    </div>

                    
            
            <div align="right" class="mt-2">
            <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
            </div>
        </div>
    </div>
    </form>

    <input type="hidden" name="next" value="{{ next }}" />

    </div>
  </div>

</form>
{% endblock %}