{% load static %}
<html>
    <head>
        <title>The Witcher</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>

    .btn-outline-lightbrown{color:#27211D;border-color:#27211D}.btn-outline-lightbrown:hover{color:#fff;background-color:#27211D;border-color:#27211D}.btn-outline-lightbrown.focus,.btn-outline-lightbrown:focus{box-shadow:0 0 0 .2rem #27211D}.btn-outline-lightbrown.disabled,.btn-outline-lightbrown:disabled{color:#27211D;background-color:transparent}.btn-outline-lightbrown:not(:disabled):not(.disabled).active,.btn-outline-lightbrown:not(:disabled):not(.disabled):active,.show>.btn-outline-lightbrown.dropdown-toggle{color:#fff;background-color:#27211D;border-color:#27211D}.btn-outline-lightbrown:not(:disabled):not(.disabled).active:focus,.btn-outline-lightbrown:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-lightbrown.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #27211D}
        
    .white { color: white;}

    .btn-lightbrown {
        background-color: #27211D;
    }
        
    body {
        background-image: url("{% static 'images/bg.png' %}");
    }

    .bg-wood {
        background-image: url("{% static 'images/madeira.jpg' %}");
    }

    .container {
        background-color: #27211D;
    }
    
    </style>
    <body bgcolor="#99e6ff">
        <div class="container">
        <header>
            <img class="img-fluid" src="{% static 'images/logot.png' %}"/>

            <nav class=" navbar navbar-expand-lg navbar-light bg-wood">
            <a class="navbar-brand" href="{% url 'post-list' %}"><div class="white">Home</div></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category-detail' 2 %}"><div class="white">Characters</div></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category-detail' 3 %}"><div class="white">Games</div></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-detail' 4 %}"><div class="white">Books</div></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" href="#"><div class="white">Make Post</div></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="white">Account</i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Register</a>
                        <a class="dropdown-item" href="{% url 'login'%}">Login</a>
                    </div>
                </li>

                </ul>
            </div>
            </nav>

        </header>
        <div class="row">
        <div class="col-8 ml-2 mt-2">
        {% block 1 %}
        {% endblock %}
        </div>

            <div class="col mt-3">
                <div class="card border-0 shadow mb-4 d-none d-lg-block">
                <div class="card-body">
                    <div class="mt-2 mb-4">
                    <form action="{% url 'search' %}" method="get" class="form my-2 my-lg-0">
                        <div class="row">
                        <div class="col-7">
                        <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Pesquisar">
                        </div>
                        <div class="col">
                        <button class="btn btn-outline-lightbrown my-2 my-sm-0" type="submit">Search</button>
                        </div>
                        </div>
                    </form>
                    </div>
                <hr>
                {% for category in category_list %}
                <a href="{% url 'category-detail' category.pk %}" class="btn btn-block bg-wood mb-3 py-3" >
                <i class="fal fa-download fa-fw"></i> <span><div class="white">{{category}}</div></span>
                {% endfor %}

                </a>
                <hr>
                {% for post in object_list %}
                <a href="{% url 'post-detail' post.pk %}" class="btn btn-block btn-outline"><i ></i>{{ post.title }}</a>
                {% endfor %}
                

                </div>
                </div>
            </div>
        
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>