{% load static %}

<div class="card mt-2 mb-2">
        <div class="card-header">
        <div class="row mt-3">
                <div class="col-1">
                        <img src="{% static 'images/user.png' %}" class="img-fluid">
                </div>
                <div class="col-4">
                        <p>{{comment.author}}</p>
                </div>
                <div class="col-5">
                        <p>{{ comment.created_at }}</p>
                </div>
        </div>
        </div>
        <div class="card-body">
                <p class="card-text">{{ comment.text|safe }}</p>
        </div>
</div>