{% load static %}

<div class="card border-0 shadow mb-4 mt-2">
<img class="card-img-top" src="{{ post.picture.url }}">
<div class="card-body d-flex flex-column align-items-start">
    <h3 class="mb-0">
    <a class="text-dark" href="#">{{post.title}}</a>
    </h3>
    <div class="mb-1 text-muted">{{post.created_at}}</div>
    <p class="card-text mb-auto">{{post.description}}</p>
    <a href="{% url 'post-detail' post.pk %}">Continue reading</a>
</div>
</div>