{% extends "blog/base.html" %}
{% load static %}

{% block 1 %}
<div class="white">
        <h1>{{ object.title }}</h1>
        <p>{{object.description}}</p>
        <img src="{{ object.picture.url }}" class="img-fluid">
        <p class="mt-2">{{object.text|safe}}</p>
        <center><h4 class="mt-5"><i>{{object.quote|safe}}</i></h4></center>
        <div align="right">{{object.quote_reference|safe}}</div>
</div>
<hr class="mt-2">

<form method="POST" action="{% url 'comment' object.id %}">
        {% csrf_token %}
        <div class="form-group">
                <center><h2 class="white"><label for="exampleFormControlTextarea1">Comments</label></h2></center>
        <div class="row">
        <div class="col-10">
                <textarea placeholder="Enter your message here" name="text" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <div class="col-2">
        <button type="submit" class="btn btn-light mt-3">Post</button>
        </div>
        </div>
        </div>
</form>

<hr>


{% for comment in object.comments.all %}

{% include "blog/comment.html" %}

{% endfor %}
          

{% endblock %}

